Young Up	Old Up
brain4-VS-brain_pup	DEG_IDs_Enrich/brain4-VS-brain_pup_brain4_downids.difgoall	DEG_IDs_Enrich/brain4-VS-brain_pup_brain4_upids.difgoall
brain20-VS-brain4	DEG_IDs_Enrich/brain20-VS-brain4_brain20_downids.difgoall	DEG_IDs_Enrich/brain20-VS-brain4_brain20_downids.difgoall
brain20-VS-brain_pup	DEG_IDs_Enrich/brain20-VS-brain_pup_brain20_downids.difgoall	DEG_IDs_Enrich/brain20-VS-brain_pup_brain20_downids.difgoall
liver4-VS-liver_pup	DEG_IDs_Enrich/liver4-VS-liver_pup_liver4_downids.difgoall	DEG_IDs_Enrich/liver4-VS-liver_pup_liver4_upids.difgoall
liver20-VS-liver4	DEG_IDs_Enrich/liver20-VS-liver4_liver20_downids.difgoall	DEG_IDs_Enrich/liver20-VS-liver4_liver20_downids.difgoall
liver20-VS-liver_pup	DEG_IDs_Enrich/liver20-VS-liver_pup_liver20_downids.difgoall	DEG_IDs_Enrich/liver20-VS-liver_pup_liver20_downids.difgoall
kidney4-VS-kidney_pup	DEG_IDs_Enrich/kidney4-VS-kidney_pup_kidney4_downids.difgoall	DEG_IDs_Enrich/kidney4-VS-kidney_pup_kidney4_upids.difgoall
kidney20-VS-kidney4	DEG_IDs_Enrich/kidney20-VS-kidney4_kidney20_downids.difgoall	DEG_IDs_Enrich/kidney20-VS-kidney4_kidney20_downids.difgoall
kidney20-VS-kidney_pup	DEG_IDs_Enrich/kidney20-VS-kidney_pup_kidney20_downids.difgoall	DEG_IDs_Enrich/kidney20-VS-kidney_pup_kidney20_downids.difgoall
